{% load static %}
<!DOCTYPE html>
<html>
<head>

	<script src="{% static 'newblog/js/bootstrap.min.js' %}"></script>  
    <link href="{% static 'newblog/css/bootstrap.css' %}"  rel="stylesheet" > 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	{% if title %}
      	<title> Django  Newblog - {{ title}}</title>
	{% else %}
		<title> Django Newblog </title>
	{% endif %}
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark " >
			<div class="container">
				<a class="navbar-brand mr-7" href="{% url 'newblog-home' %}">Django Newblog</a>
				<button class="navbar-toggler" type="button" data-toggle ="collapse">
				<span class="navbar-toggler-icon"></span>	
				</button>
				<div class="collapse navbar-collapse" id="navbarToggler">
					<div class="navbar-nav mt-auto">
						<a class="nav-item nav-link" href="{%  url 'newblog-home' %}">Home</a>
						<a class="nav-item nav-link" href="{%  url 'newblog-about' %}">About</a>
					</div>

				<!-- navbar for  right side -->
					<div class="navbar col-md-8 justify-content-end">
						{% if user.is_authenticated %}
						<a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
						<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
						<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
						{% else%}
						<a class="nav-item nav-link"  href="{% url 'login' %}">Login</a>
						<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
						{% endif %}		
					</div> 
				</div>
			</div>
		</nav> 
	</header>
	<main role="main" class="container">
		<div class="row" >
			<div class="col-md-8">
				{% if messages%}
					{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">
							{{ message }}
						</div>
					{% endfor %}	
				{% endif%}
				{% block content %}{% endblock%}
			</div>
			<div class="col-md-4">
				<div class="card">
					<h2>News Pulleting </h2>
					<p class="text-muted">Post your blog content</p>
					<ul class="list-group-item-light list-group-item-light col-md-8">
						<li><a href="">Latest Posts</a></li>
						<li><a href="">Announcements</a></li>
						<li><a href="">Calendar</a></li>
						<li><a href="">Future Posts</a></li>

						
					</ul>
				</div>
			</div>
		</div>
	</main>

<footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center "><a href="www.modtechy.com">Copyright &copy; Modtechy </a></p>
</footer>
	
</body>
</html>